/*General*/

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    display:flex;
    flex-direction:column;
    height:1300px;
    margin:0px;
    font-family:Roboto;
}

img {
    width:100%;
}

#hero, #header, #footer {
    background-color:#1f2937;
}

button, #calltoaction {
    background-color:#3882f6;
}

button {
    padding:5px 10px;
    width:100px;
    border:none;
    border-radius:5px;
    color:#f9faf8;
}

button:hover {
    background-color:#3881f670;
}

button:active {
    transform:scale(0.95);
}

/*Header*/
#header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

a {
    font-size:16px;
    color:#e5e7eb;
}

#links {
    margin-right:10%;
}

#logo {
    margin-left:9%;
    font-size:24px;
    color:#f9faf8;
}

/*Hero*/
#hero {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap:5%;
}

#hero h1, #hero p {
    margin:0px;
}

#hero p {
    font-size:18px;
    color:#e5e7eb;
}

#hero h1 {
    font-size:48px;
    font-weight:900;
    color:#f9faf8;
}

#hero .equaldiv {
    margin-top:5%;
    margin-bottom:5%;
    gap:8px;
}

.equaldiv {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#lefthero {
    margin-left:10%;
    margin-right:0px;
}

#righthero {
    margin-right:10%;
    margin-left:0px;
}


/*Boxes*/

#infoheader {
    font-size:36px;
    font-weight:900;
    color:#1f2937;
}
.box img {
    height:40%;
    border:3px solid blue;
    border-radius:6px;
}

#boxsection {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0% 5% 5% 5%;
}

#boxesthemselves {
    display:flex;
    flex-direction:row;
    gap:5%;
    padding-left:15%;
    padding-right:15%;
}

.box {
    flex:1;
}

/*Quotes*/
#quotes {
    flex:0;
    display:flex;
    flex-direction:column;
    padding: 10% 20%;
    background-color:#e5e7eb;
}

#qtext {
    font-size:36px;
    font-weight:light;
    font-style:italic;
    color:#1f2937;
}

#qauthor {
    display:flex;
    flex-direction:row;
    justify-content:right;
    color:#1f2937;
    font-size:20px;
}


/*Call to action*/
#calltoactioncontainer {
    flex:0;
    display:flex;
    flex-direction:row;
    padding:7% 15%;
}

#calltoaction {
    flex:1;
    display:flex;
    flex-direction:row;
    border-radius:10px;
}

#call1 {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding: 3% 0%;
    padding-right:5%;
    padding-left:8%;
    flex: 3;
}

#call2 {
    display:flex;
    flex-direction:row;
    flex: 1;
    align-items:center;
    justify-content:flex-start;
    padding-right:8%;
}

.call h4, .call p {
    margin:0;
}

#call2 button {
    border:solid #e5e7eb 2px;
}

/*Footer*/
#footer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:16px;
    color:#e5e7eb;
    font-size:16px;
}