/*General*/
body {
    display:flex;
    flex-direction:column;
    height:1500px;
}

img {
    width:100%;
}

/*Header*/
#header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    border:5px solid blue;
}

#links {
    margin-right:10%;
}

#logo {
    margin-left:9%;
}

/*Hero*/
#hero {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border:5px solid red;
    gap:5%;
}

#hero h1, #hero p {
    margin:0px;
}

#hero .equaldiv {
    margin-top:5%;
    margin-bottom:5%;
    gap:5px;
}

.equaldiv {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

#lefthero {
    margin-left:10%;
    margin-right:0px;
}

#righthero {
    margin-right:10%;
    margin-left:0px;
}


/*Boxes*/

.box img {
    height:40%;
    border:3px solid blue;
    border-radius:6px;
}

#boxsection {
    flex:1;
    border:5px solid green;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0% 5% 5% 5%;
}

#boxesthemselves {
    display:flex;
    flex-direction:row;
    gap:5%;
    padding-left:15%;
    padding-right:15%;
}

.box {
    flex:1;
}

#quotes {
    flex:1;
    display:flex;
    flex-direction:column;
    border:5px solid blue;
}


/*Call to action*/
#calltoaction {
    flex:0;
    display:flex;
    flex-direction:row;
    border:5px solid red;
    padding:7% 15%;
}

#smallblue {
    flex:1;
    background-color:blue;
    display:flex;
    flex-direction:row;
    border-radius:10px;
}

#call1 {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding: 3% 0%;
    padding-right:5%;
    padding-left:8%;
    flex: 3;
}

#call2 {
    display:flex;
    flex-direction:row;
    flex: 1;
    align-items:center;
    justify-content:flex-start;
    padding-right:8%;
}

.call h4, .call p {
    margin:0;
}

/*Footer*/
#footer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    border:5px solid green;
    padding:16px;
}